@use "../base/variables" as *;

.hero {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    max-width: 531px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__button {
    display: inline-block;
    width: fit-content;
    font-size: 20px;
    color: white;
    background-color: $secondary-color;
    padding: 20px 35px;
    border-radius: 14px;
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: end;
  }
}
