div.mobile-header
  div.mobile-header__logo
    a(href=getLink('/'))
      img(src=require('@/assets/header-logo.svg') alt="Logo")
  button.mobile-header__menu-button(type="button")
    include /assets/menu.svg
