@use "base/reset";
@use "base/variables" as *;
@use "base/typography";
@use "base/fonts";
@use "mixins/breakpoints" as *;
@use "mixins/layout" as *;

@use "../views/pages/home";
@use "../views/pages/about";

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $text-color;
}

.container {
  @include container;
}
