@use "base/reset";
@use "base/variables";
@use "components/styles";
@use "base/fonts";
@use "base/typography";
@use "mixins/breakpoints";
@use "mixins/layout" as *;
@use "pages/home";

body {
  font-family: "SpaceGrotesk", sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  @include container;
}
