

section.hero
  div.hero__info
    h1.hero__title
      | Navigating the <br> digital landscape <br> for success
    p.hero__description
      | Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.
    a.hero__button(href="/contact")
      | Book a consultation
  div.hero__image
    include ../../../assets/hero-illustration.svg
    